body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;  
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

ul, ol {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

/* ===============header========== */
.header {
    border-bottom: 1px solid  #E7E9FC;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-navigation {
    display: flex;
    gap: 76px;
    align-items: center;
}

.header-logo {
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.logo-span {
    color: #2E2F42;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-menu-link {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0 24px;
}

.header-menu-link:hover, .header-menu-link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
}

.contacts-menu {
    display: flex;
    gap: 40px;
}

.contacts-menu-link {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.contacts-menu-link:hover, .contacts-menu-link:focus {
    color: #404BBF;
}

/* ====================================== */


/* =============hero===================== */

.hero {
    padding-bottom: 120px;
    
}

.hero-container {
background: #2E2F42;
padding: 188px 472px 292px 472px;
}

.hero-title {
    color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
        min-width: 496px;
}

.hero-buy-btn {
    color: #ffffff;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: #4D5AE5;
         cursor: pointer;    
}

.hero-buy-btn:hover, .hero-buy-btn:focus {
    background: #404BBF;
}

.features {
    border-top: none;
}

.visually-hidden {
    color: #2E2F42;
}

.features-subtitle {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.features-item-text {
color:  #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* ====================================== */

/* ==============team==================== */

.team {
    background: #F4F4FD;
    padding-top: 120px;
}

.team-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-item {
    background-color: #FFF;
}

.team-img {
    margin-bottom: 32px;
}

.team-subtitle {
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.team-item-text {
    color: #434455;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* ====================================== */

/* ==============portfolio================ */

.portfolio {
    padding-top: 120px;
    text-align: center;
}


.portfolio-title {
    color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio-menu {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

}

.portfolio-item {
    background-color: #FFF;
    border: 1px solid #E7E9FC;
    text-align: center;
}

.portfolio-img {
    margin-bottom: 32px;
}


.portfolio-subtitle {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.portfolio-item-text {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* ====================================== */

/* ==============footer================== */

.footer {
    background: #2E2F42;
}

.footer-logo {
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-logo-span {
    color: #F4F4FD;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-item-text {
    color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
